
* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  padding: 10px !important;
  background-color: #fffbfb !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-bar {
  width: 100%;
  height: 100%;
  padding-bottom: 10px !important;
  background-color: #fffbfb !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.secondary-action-bar {
  width: 100%;
  flex-basis: 10%;
  background-color: #f44336;
  display: flex;
  align-items: center;
  padding: 10px;
}

/************************Login Page**********************/
.login-box {
  width: 40%;
  height: 60%;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2 !important;
}

.login-btn {
  padding: 10px 0 10px 0;
}

/************************Report entry**********************/
.entry-grid {
  width: 75%;
  height: 75%;
  padding: 15px !important;
  overflow: auto;
}

/************************Subject entry**********************/
.subject-entry {
  min-height: 40vh;
  padding: 20px !important;
}

/************************School Home**********************/
.school-menu {
  padding: 10px;
}

.school-option {
  background-color: #f44336;
  color: white
}

.school-option-card:hover {
  transform: scaleY(1.1);
}

/************************Student Selection**********************/
.loading-screen {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

/************************Student Report View**********************/
.sem-selector {
  width: 50%;
  height: 40%;
  padding: 20px;
}

/*********************Responsive Design******************/
@media screen and (max-width: 750px) {
  .login-box {
    width: 100%;
  }
}